<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  
</head>
<body>
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages'%>
<div class="container">
<%= yield %>
</div>
<%= render 'layouts/footer'%>


</body>
</html>
